.eyoo{
    text-align: center;
        border: 2px solid black;
        outline: turquoise solid 10px;
        margin: auto;  
        padding: 20px;
        text-align: center;
        font-size:larger;
        color: whitesmoke;
}
body{
    background-color:black;
}

