
.eyoo{
    text-align: center;
    font-size: 100px;
    color: whitesmoke;
}
h1 {
    color: rgb(255, 169, 136);
    font-size: 50px;
}
body{
    background-color:skyblue;
}
img {
    align-self: center;
}
.eyoo{
    border-style: solid;
    border-radius: 15px;
    font: large;
    color: black;
    font-weight: bolder;
}

footer {
    text-align: center;
    text-decoration: underline;
    line-height: 30px;

}
.spanned{
    text-decoration: underline;
    font-weight: bolder;
    color:turquoise;
}
.logo { 
    width: 70vw;
    height: auto;
    padding: 5px 0px 0px 10px;
    padding-top: 2;
}
.logopic{
    align-content: center;
    
}
ul.li{
    font-size: larger;
    
}
.loki{

    border:solid turquoise;
    border-radius: 15px;
}
.navbar{
    overflow: unset;
    background-color: turquoise;
    position:fixed;
    top: 0;
    width: fit-content;
    
    
}
.navbar a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration:none;
    color:black;
}

a:hover{
    background-color:burlywood;
}
.logo{
    height: auto;
    border-radius: 15px;
    
}
header{
    padding-bottom: 40px;
    
}
.something{
    background-color: skyblue;
    color: white;
}
.effects{
    border-radius: 15px;
    background-color:rgb(139, 139, 255);
    margin-top: 30px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.goku{
    text-decoration:underline;
    color: rgb(21, 231, 210);
    font: bolder;
    
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.notokaytext{
    color: black;
    line-height: 25px;
}
.depressiontext{
    color: black;
}
u{
    color: rgb(224, 64, 64);
}
.anxietypic{
    border: solid;
    border-radius: 15px;

}
.polartext{
    line-height: 30px;
    font-weight: bolde;
}
.schizo{
    border: solid;
    border-radius: 15px;
}
